<div class="dash" *ngFor="let employee of data">
    <div class="dp">
        
    </div> <br>
    <div class="personal">
        <h3 class="pers">Personal Information</h3>
        <P class="pers">Names :  {{employee.name}} </P>
        <p class="pers">Surname : {{employee.surname}}</p>
        <P class="pers">D.O.B :</P>
        <P class="pers">ID :</P>
        <P class="pers">Gender :</P>
    </div>
        
    <div class="work">
        <h3>Work Profile</h3>
        <p>Start date : </p>
        <p>Position :</p>
        <p>Department :</p>
        <p>Employee No :</p>
    </div>
    <br>

    <div class="contact">
        <h3>Contact Details</h3>
        <p>Phone :</p>
        <p>E-mail:</p>
        <p>Address :</p>
        <h3>Emergency Contact</h3>
        <p>Name :</p>
        <p>Relationship :</p>
        <p>Contact No.</p>
    </div>
</div>
