* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dash {
    border: 1px solid rgb(249, 169, 249);
    width: 80%;
    height: 100%;
    margin-top: 100px;
    margin-left: 20%;
}

.personal {
    border: 1px solid #d44a4a;
    width: 350px;
    height: 400px;
    margin-left: 10px;
    background-color: #F4F4F4;
    border-radius: 5px;
    
}

.work {
    width: 600px;
    height: 200px;
    margin-left: 400px;
    background-color: #F4F4F4;
}

.contact {

}

.dp {
    width: 350px;
    height: 300px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;

}