<app-navbar></app-navbar>

<div class="container">
  <div class="dash" *ngFor="let employee of data">
    <div class="dp">
      <img src="{{ employee.imgUrl }}" alt="" />
    </div>
    <br />
    <div class="personal">
      <h3 class="pers">Personal Information</h3>
      <P class="pers">Names : {{ employee.name }} </P>
      <p class="pers">Surname : {{ employee.surname }}</p>
      <P class="pers">D.O.B : </P>
      <P class="pers">ID : {{ employee.idNo }} </P>
      <P class="pers">Gender : {{ employee.gender }} </P>
    </div>
    <h3>{{ employee.name }} {{ employee.surname }}</h3>
    <div class="work">
      <h3>Work Profile</h3>
      <p>Start date :</p>
      <p>Position : {{ employee.workRole }}</p>
      <p>Department : {{ employee.department }}</p>
      <p>Employee No : {{ employee.employeeId }}</p>
    </div>
    <br />

    <div class="contact">
      <h3>Contact Details</h3>
      <p>Phone : {{ employee.phone }}</p>
      <p>E-mail: {{ employee.email }}</p>
      <p>Address : {{ employee.address }}</p>
      <h3>Emergency Contact</h3>
      <p>Name : {{ employee.emergencyContactName }}</p>
      <p>Relationship : {{ employee.emergencyContactRelationship }}</p>
      <p>Contact No: {{ employee.emergencyContactNo }}</p>
    </div>
  </div>

  <app-side-bar></app-side-bar>
</div>
