<div class="container">
  <div class="heading">
    <h1>Register Employee</h1>
  </div>
  <form [formGroup]="employeeForm" (ngSubmit)="addEmployee()">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First name</label>
        <input formControlName="firstName" class="form-control" id="firstName">
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last name</label>
        <input formControlName="lastName" class="form-control" id="lastName">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="gender" class="form-label">Gender</label>
        <input formControlName="gender" class="form-control" id="gender">
      </div>
      <div class="col-md-6">
        <label for="phoneNumber" class="form-label">Cellphone number</label>
        <input formControlName="phoneNumber" class="form-control" id="phoneNumber">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="email" class="form-label">Email address</label>
        <input formControlName="email" type="email" class="form-control" id="email">
      </div>
      <div class="col-md-6">
        <label for="address" class="form-label">Address</label>
        <input formControlName="address" type="text" class="form-control" id="address">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="idNumber" class="form-label">ID Number</label>
        <input formControlName="idNumber" class="form-control" id="idNumber">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input formControlName="password" type="password" class="form-control" id="password">
      </div>
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="dateOfBirth" class="form-label">Date of Birth</label>
          <input formControlName="dateOfBirth" type="date" class="form-control" id="dateOfBirth" required="true">
        </div>
        <div class="col-md-6">
          <label for="startDate" class="form-label">Start Date</label>
          <input formControlName="startDate" type="date" class="form-control" id="startDate" required="true">
        </div>
      </div>
      <div class="col-md-6">
        <label for="departmentId" class="form-label">Department</label>
        <select formControlName="departmentId" class="form-control" id="departmentId">
          <option *ngFor="let department of departments" [value]="department.departmentId">{{department.DepartmentName}}</option>
        </select>
      </div>
      <div class="col-md-6">
        <label for="positionId" class="form-label">Position</label>
        <select formControlName="positionId" class="form-control" id="positionId">
          <option *ngFor="let position of positions" [value]="position.positionId">{{position.positionName}}</option>
        </select>
      </div>
      
      <div class="col-md-6">
        <label for="emergencyContactName" class="form-label">Emergency contact name</label>
        <input formControlName="emergencyContactName" class="form-control" id="emergencyContactName">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="emergencyContactRelationship" class="form-label">Emergency contact relationship</label>
        <input formControlName="emergencyContactRelationship" class="form-control" id="emergencyContactRelationship">
      </div>
      <div class="col-md-6">
        <label for="emergencyContactNo" class="form-label">Emergency contact number</label>
        <input formControlName="emergencyContactNo" class="form-control" id="emergencyContactNo">
      </div>
    </div>
    <div class="col-md-12 buttons-sub">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
</div>
