
<div class="container">
   
<div class="heading">
<h1>Register emplyoyee</h1>

</div>


    <form class="row 3">
        <div class="col1">
          <label for="inputName" class="form-label">Full name</label>
          <input type="name" class="form-control" id="name">
        </div>
       
        <div class="col2">
            <label for="inputGender" class="form-label">gender</label>
            <input type="gender" class="form-control" id="gender">
          </div>
    
    
          <div class="col3">
            <label for="inputCellnumber" class="form-label">Cellphone number</label>
            <input type="numbers" class="form-control" id="cellphone">
          </div>
    
    
          <div class="col4">
            <label for="inputEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email">
          </div>
    
    

          <div class="col5">
            <label for="inputAddress" class="form-label">Address</label>
            <input type="address" class="form-control" id="address">
          </div>
        
          <div class="col6">
            <label for="inputmarital status" class="form-label">Marital status</label>
            <input type="marital status" class="form-control" id="maritalStatus">
          </div>
        
        
          <div class="col7">
         <button id="btn">Submit</button>
          </div>
        
        
        
        
        </form>




















    </div>