.container{
    width: 700px;
    height: 1000px;
    background-color:white;
    border:2px solid;
    margin-top: 20px;
    display: flex;
  
}

button{
    background-color:white;
 
  margin-right: 300px;
 
    margin-top: 100px;
    border-radius: 10px;
 
    height:40px;
    width: 100px;
    background-color:purple ;
    color:white;
    
    
}

input{
    width: 250px;
    border-radius: 30px;
    height: 35px;
    margin: 10px;
    border: 0px;

}
.name{

width:200px;
background-color: whitesmoke;


}
.surname{
    background-color:whitesmoke;
    width: 200px;
   margin-left: 160px;
  

}
.gender{
    background-color: whitesmoke;
    width:200px;
}
.phone{
    background-color:whitesmoke;
    width: 200px;
    margin-left: 160px;
}
.email{
  background-color: whitesmoke;  
  width: 200px;
}
.address{
    background-color: whitesmoke;
    width: 200px;
    margin-left: 160px;
}

.idNo{
    background-color: whitesmoke;
    width: 200px;
}
.empId{
background-color: whitesmoke;
width: 200px; margin-left: 160px;}
.password{
    background-color: whitesmoke;
width: 200px
}
.department{
    background-color:whitesmoke;
width: 200px; margin-left: 160px;
}
.position{
    background-color: whitesmoke;
width: 200px
}

.contactName{
    background-color: whitesmoke;
width: 200px; margin-left: 160px;
}

.relationship{
    background-color: whitesmoke;
width: 200px; margin-left: 160px;
}
.contactNo{
    background-color: whitesmoke;
width: 200px;
}


.heading  {
background-color:white;
  height: 60px;

  font-size: 40px;
padding-bottom: 100px;
margin-left: 70px;

  
}
.heading{
    width: 600px;
    background-color: whitesmoke;

}


h1{
    margin-left: 90px;
    font-family:'Montserrat';
    padding-top: 30px;
    width: 400px;
    
    
}
.right{
   
   width:50%;
height: 600px;
background-color: whitesmoke;
margin-right:80px ;
  
}
.left{
    
    width: 50%;
    height: 600px;
    background-color: whitesmoke;

   
}

.container{
    display: flexbox;
    display: inline block;
    background-color: whitesmoke;

}
.columns{
    display: flex;
  height: 800px;


 
  margin-top: 150px;
margin-left: -570px;
width: 690px;

 
}

input.ng-invalid.ngtouched{border: red solid 2px;}






  
