* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    height: 100vh;
    background-color:white;
    //border:2px solid #f1ddff;
    margin-left: 100px;
    
    //text-align: center;
}
form {
    padding-left: 100px;
}
.cont {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    border: 1px solid #f1ddff;
    overflow: hidden;
}

button{
    background-color:white;
    border-radius: 10px;
   margin-top: 80px;
    height:40px;
    width: 100px;
    background-color:purple ;
    color:white;
    margin-left: 35%;
    
    
}


input{
    width: 250px;
    height: 30px;}


#name::placeholder{
    color: rgb(221, 215, 215);
}


.heading  {
  background-color:white;
  height: 120px;
}


h1{
    text-align: center;
    font-family:'Montserrat';
    padding-top: 30px;
    
}


#gender::placeholder{
    color: rgb(221, 215, 215);
}


#cellphone::placeholder{
    color: rgb(221, 215, 215);
}


#email::placeholder{
    color: rgb(221, 215, 215);
}


#address::placeholder{
    color: rgb(221, 215, 215);
}


#maritalStatus::placeholder{
    color: rgb(221, 215, 215);
}
#idnumber::placeholder{
    color: rgb(221, 215, 215);
}
#id::placeholder{
    color: rgb(221, 215, 215);
}
#password::placeholder{
    color: rgb(221, 215, 215);
}

.col4{
   margin-left: 350px; 
   margin-top: -55px;
}
.col6{
    margin-left: 350px; 
    margin-top: -55px;
}
.col8{
    margin-left: 350px; 
    margin-top: -55px;
}




.col11{
    margin-left: 350px;
    margin-top: -165px;
}
.col2{
    margin-left: 350px;
    margin-top: -55px;
}
.col12{
    margin-left: 350px;
    margin-top: -110px;
}
    .col13{
    margin-left: 350px;
    margin-top: -55px;
}
#lastname::placeholder{
color: rgb(221, 215, 215);}
    
    
#cellnumber::placeholder{
color: rgb(221, 215, 215);}

#emailaddress::placeholder{
color: rgb(221, 215, 215);}

#employeeId::placeholder{
color: rgb(221, 215, 215)};