<div class="container">
  <div class="heading">
    <h1>Add Positions</h1>
  </div>
  <form [formGroup]="positionForm" (ngSubmit)="addPosition()">
    <div class="row mb-3">
      <div class="col-md-3">
        <label for="positionName" class="form-label">Position name</label>
        <input formControlName="positionName" class="form-control" id="positionName">
      </div>
      <div class="col-md-3">
        <label for="salary" class="form-label">Position Salary</label>
        <input formControlName="salary" class="form-control" id="salary">
      </div>
    
    </div>
    <div class="col-md-12 buttons-sub">
      <button type="submit" class="btn btn-primary">Add</button>
      &nbsp;
      <button type="submit" class="btn btn-primary" routerLink="/positions-list">back</button>
    </div>
  </form>
</div>