.admin-dash-container{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;

}

.dash-nav{
    width: 100%;
    
}

.main-dash{
    display: grid;
    grid-template-columns: 20% 80%;
    //border: 2px solid #f1ddff;
}

.dash-side-bar{
    height: 100vh;
}