<div class="side-bar">
    <div class="top">
        <a class="link" routerLink="/emp-dashboard">
            <i class="fa-solid fa-image-portrait"></i>
            <p>Profile</p>
        </a>
        <a class="link" routerLink="/pay-slip">
            <i class="fa-solid fa-file"></i>
            <p>Pay Slip</p>
        </a>
        <a class="link" routerLink="/dashboard">
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Employee Management</p>
        </a>
        <a class="link" routerLink="/recover" >
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Deleted Employees</p>
        </a>
        <a class="link" routerLink="/department" >
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Manage Departments</p>
        </a>
        <a class="link" routerLink="/positions-list" >
            <i class="fa fa-users" aria-hidden="true"></i>
            <p>Manage Positions</p>
        </a>
        <a class="link" routerLink="/tax-cert">
            <i class="fa-solid fa-file"></i>
            <p>Tax Certificates</p>
        </a>
        <a class="link" routerLink="/update-emp">
            <i class="fa-solid fa-rotate"></i>
            <p>Updates</p>
        </a>
    </div>

    <div class="bottom">
        <a class="link">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p routerLink="/">Logout</p>
        </a>
    </div>
</div>