.side-bar{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: white;
    color: #808080;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    position: relative;
    border-right: 2px solid #f1ddff;
    height: 88vh;
    padding-top: 100px;
    //border-right: 2px solid var(--dim-purple);
    //border-top: 2px solid var(--dim-purple);


    .link{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        align-items: top;
        font-size: large;
        color: #808080;
        text-decoration: none;
        border-radius: 10px;
        padding: 8px;
    }

    .link p{
        //font-size: small;
        margin-top: 12px;
    }

    .top, .bottom .link{
        margin-left: 1rem;
    }

    .bottom{
        position: absolute;
        bottom: 0;
        border-top: 2px solid var(--dim-purple);
        width: 100%;
    }

    .link:hover{
        background-color: var(--dim-purple);
        cursor: pointer;
        color: var(--btn-color);
    }

    .link:active {
        color: var(--btn-color);
        background-color: var(--dim-purple);
    }
}

