<div class="side-bar">
    <div class="top">
        <a class="link" >
            <i class="fa-solid fa-house"></i>
            <p>Home</p>
        </a>
        <a class="link" routerLink="/dashboard">
            <i class="fa-solid fa-user-group"></i>
            <p>Employee Management</p>
        </a>
        <a class="link">
            <i class="fa-solid fa-rotate"></i>
            <p>Updates</p>
        </a>
    </div>

    <div class="bottom">
        <a class="link">
            <i class="fa-solid fa-right-from-bracket"></i>
            <p routerLink="/">Logout</p>
        </a>
    </div>
</div>