
    <div class="sideBar">
        <br> 
        <button class="home">
            <img class="HomeIcon" src="assets/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3JtNTMzLW91dGxpbmUtMTYtbDJweTViYW0uanBn.webp"> Home</button>
            <br>
            <button class="pay"  routerLink="/paySlip">
                <img class="payIcon" src="assets/719070-200.png"> PaySlip</button>   
             <br>
             <button class="empMan">
                <img class="empIcon" src="assets/download.png"> Employee Management</button>    
               <br>
               <button class="update">
               <img class="updateIcon" src="assets/png-clipart-recycling-symbol-computer-icons-arrow-arrow-recycling-arrow-icon-thumbnail.png"> Updates</button> 
               <br>
               <button class="logOut"  routerLink="/dashboard">
                <img class="logOutIcon" src="assets/logout-512.webp"> LOGOUT</button>  
        </div>