// .form-check{
//     display: flex;
//     justify-content: center;
// }

.btn{
     justify-content: center;
     background-color: purple;
     width: 60%;
     color: white;
     margin: auto;
     align-content: center;
     text-align: center;
     display: flex;

}
.container-fluid{
height: 100%;
width: 100%;
margin-top: 15%;
margin-left: 30%;
position: fixed;
}



// .sideBar{
//     background-color:  rgb(164, 153, 153);
//     height: 100%;
//     width: 50%;
//     margin-right: 50%;
//     position: absolute;


// }
// .loginPage{

// height: 500px;
// width: 600px;
// border: 1px solid black;
// margin-top: 15%;
// margin-left: 30%;
// position: absolute;
// }

// .form{  
//     margin-left: 50%;
//     width: 50%;
//     padding-top: 20%;
//     height: 100%;
//     background-color: rgba(128, 128, 128, 0.577);
//     position: absolute;
// }

.sidePicture
{
    height: 100%;
    width: 100%;
}
.logoPicture{
    height: 30%;
    width: 90%;
}

