
  <div class="col-12">
   
    <div class="row">
     
      <div class="photo col sm-8">
        
        <img class="sidePicture" src="assets/logpicture.webp" alt="">
      </div>
      <div class="form col sm-4">
          <img class="logoPicture" src="assets/Frame 18.png" alt="">
        <div class="form">
          <form  [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form">
            <label for="email">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
            <div *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
              <small class="text-danger">Please enter a valid email address</small>
            </div>
          
          </div>
          <br>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password"  class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
            <div *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
              <small class="text-danger">*Password must contain at least one uppercase letter, one lowercase letter, one number, one special character, and be at least 8 characters long</small>
            </div>
          </div>
          <br>
         <div class="btn">
          <button type="submit" class="btn" onclick="" >login</button>
         </div></form>

         <br>
          <a routerLink="/" class="link"> <p>Back to home</p> </a>
          </div>
      
      <div>
        

      </div>
  
    </div>
  
  </div>

