<div class="landing-container col-12">
    <app-navigation></app-navigation>
    <div class="main-section col-12">
        <div class="content">
            <h1>EMPOWERING WORKFORCE, ONE SPHERE AT A TIME.</h1>
            <button>Start your journey</button>
        </div>
    </div>
    <div class="bottom-content">
        <h1>
            Transforming HR Management: StaffSphere Leading the Way.
        </h1>
        <!-- <div class="stats">
            <div class="stats-box">
                
            </div>
            <img src="../../../assets/Dot Grid.png" alt="dot grid">
        </div> -->
    </div>
</div>