<div class="landing-container col-12">
    <app-navigation></app-navigation>
    <div class="main-section col-12">
        <div class="content">
            <h1>EMPOWERING WORKFORCE, ONE SPHERE AT A TIME.</h1>
            <a href="login">
                <button>Start your journey</button>
            </a>    
            </div>
    </div>
    <div class="bottom-content">
        <h1>
            Transforming HR Management: StaffSphere Leading the Way.
        </h1>
        <div class="stats">
            <div class="stats-box">
                <h1 style="color: #008000;">50, 468</h1>
                <p>Happy cutomers</p>
                <h1>10, 000, 21</h1>
                <p>Payslips</p>
                <h1>5, 156, 479</h1>
                <p>Documents</p>
            </div>
            <img src="../../../assets/images/Dot Grid.png" alt="dot grid">
        </div>
    </div>
</div>