.container-outer{
    display: grid;
    grid-template-columns: 20% 80%;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.container button{
    background-color: var(--btn-colour);
    border: none;
    padding-left: 3rem;
    padding-right: 3rem;
}

// .sucessfull-p{
//     background-color: #90ee90;
//     color: #009000;
//     width: fit-content;
//     justify-self: center;
//     align-self: center;
//     padding: 8px 20px 8px 20px;
//     border-radius: 10px;
//     display: none;
// }

.buttons-sub{
    display: flex;
    flex-direction: column;
}

.buttons-sub button{
    width: 250px;
    align-self: center;
    justify-self: center;
}
.btn-secondary{
    color: rgb(0, 0, 0);
    border: transparent;

}

.btn3{
    background-color:rgb(99, 21, 147) ;
}

.btn2{
    background-color: rgb(99, 21, 147);
    border: 505%;
}

.btn1{
    background-color: rgb(99, 21, 147);
}
