<div class="container-employees">
    <div class="top">
        <div class="titles">
            <h1>Employees</h1>
            <p>Employee contact details and info</p>
        </div>
        <button routerLink="/registration"><i class="fa-solid fa-plus"></i>Add new employee</button>
    </div>
    <table>
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Title</th>
                <th>Department</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody *ngFor="let employee of employees">
            <tr>
                <td scope="row">{{employee.name}} {{employee.surname}}</td>
                <td>{{employee.workRole}}</td>
                <td>{{employee.department}}</td>
                <td>{{employee.phone}}</td>
                <td>{{employee.address}}</td>
                <td>
                    <a routerLink="#" class="update-btn">Update</a>
                    <a class="delete-btn" (click)="deleteEmployee(employee)">Delete</a>
                </td>

                <!-- <app-employee-row [employee]="employee" (onDeleteEmp)="deleteEmployee(employee)"></app-employee-row> -->
            </tr>
        </tbody>
    </table>
</div>

