<div class="container-employees">
  <div class="top">
    <div class="titles">
      <h1>Employees</h1>
      <p>Employee contact details and info</p>
    </div>
    <button routerLink="/registration"><i class="fa-solid fa-plus"></i>Add new employee</button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Title</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td scope="row">{{employee.firstName}} {{employee.lastName}}</td>
        <td>{{employee.position?.positionName}}</td>
        <td>{{employee.department?.DepartmentName}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td>{{employee.address}}</td>
        <td>
          <a routerLink="/update-emp" [queryParams]="{ id: employee.id }" class="update-btn">Update</a>
          <a class="delete-btn" (click)="deleteEmployee(employee)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
