/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root
{
    --btn-colour: #6A0DAD;
    --secondary-colour: rgb(209, 121, 121);
}