/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --btn-colour: #6A0DAD;
    --btn-red: #f94848;
    --btn-green: #96b300;
    --dim-purple: #f1ddff;
    --sub-text-grey: #756e6e;

}