<app-navbar></app-navbar>
<div class="container-employees">
  <div class="top">
    <div class="titles">
      <p>Delete Employee contact details and info</p>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Position</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of deletedEmployees">
        <td scope="row">{{employee.firstName}} {{employee.lastName}}</td>
        <td>{{employee.position?.positionName}}</td>
        <td>{{employee.department?.DepartmentName}}</td>
        <td>{{employee.phoneNumber}}</td>
        <td>{{employee.address}}</td>
        <td>
          <a class="btn btn-success" (click)="recoverEmployee(employee)">Recover</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
