<div class="container-employees">
    <div class="top">
      <div class="titles">
        <h1>Deleted Employees</h1>
        <p>List of deleted employees</p>
      </div>
    </div>
    <table>
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Position</th>
          <th>Department</th>
          <th>Phone</th>
          <th>Address</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of deletedEmployees">
          <td>{{employee.firstName}} {{employee.lastName}}</td>
          <td>{{employee.position?.positionName}}</td>
          <td>{{employee.department?.DepartmentName}}</td>
          <td>{{employee.phoneNumber}}</td>
          <td>{{employee.address}}</td>
          <td>
            <button (click)="recoverEmployee(employee)" class="recover-btn">Recover</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  